/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.produto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.preco {
    font-weight: bold;
    color: #007BFF;
}

.adicionar-ao-carrinho {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.adicionar-ao-carrinho:hover {
    background-color: #0056b3;
}

/* Estilo para a lista de compras */
aside {
    background-color: #f5f5f5;
    padding: 20px;
    width: 300px;
    text-align: center;
}

h2 {
    margin-top: 0;
}

#lista-compras {
    list-style: none;
    padding: 0;
}

#lista-compras li {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

#total-compra {
    font-weight: bold;
    color: #007BFF;
}
